.content {
  display: grid;
  grid-template-columns: 430px 1fr;
  flex-direction: row;
  gap: 16px;
  justify-content: space-between;
  height: 58px;
  max-height: 640px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.image {
  width: 64px;
  height: 64px;
  border: 2px solid hotpink;
  border-radius: 100px;
  background: black;
  margin-right: 20px;
}
.name {
  text-align: left;
}

.sale {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: right;
}
